###> symfony/framework-bundle ###
composer.lock
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###
