<form method="post" action="{{ path('app_company_details_delete', {'id': companyDetails.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button type ="button" class="btn btn-danger">Delete</button>
</form>
                                    