{% extends 'base.html.twig' %}

{% block title %}New CompanyDetails{% endblock %}

{% block body %}
    <h1>Create new CompanyDetails</h1>

    {{ include('company_details/_form.html.twig') }}

{% endblock %}
