{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for label,messages in app.flashes(['warning','danger','success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h1>Fetch Companies Data</h1>
                <form action="{{ path('app_company_details_fetch') }}" method="post">
                    {{ form_widget(form) }}
                    <button class="btn btn-outline-success mt-3" type="submit">Submit</button>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}